<%- include('../layouts/header') %>


    <div class="container mt-5 contentDftr">
        <% if (judul==='netflox' ) { %>
            <% if (typeof error !=='undefined' ) { %>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                <% error.forEach(error=> { %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% } %>
                    <h1>login</h1>
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="post" action="/" class="form">
                                <div class="mb-3 mt-2">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password class=" form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                    <% } else { %>
                        <% if (typeof error !=='undefined' ) { %>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-danger" role="alert">
                                        <ul>
                                            <% error.forEach(error=> { %>
                                                <li>
                                                    <%= error.msg %>
                                                </li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <h1>daftar</h1>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form method="post" action="/daftar" class="form">
                                            <div class="mb-3 mt-2">
                                                <label for="email" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="email" name="email"
                                                    required>
                                            </div>
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                                <input type="password" class="form-control" id="password"
                                                    name="password" required>
                                            </div>

                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <% } %>


    </div>

    <%- include('../layouts/footer') %>